li {
    width: 150px;
    overflow: hidden;
    display: block;
    height: 250px;
    margin: 20px;
    border-radius: 20px;
    background: #fafafa;
    text-align: center;
    position: relative;
}
.price{
  position: absolute;
  top: 10px;
  background: #fff;
}
li img {
  max-width: 100%;
}