.wrapper{
    width:500px;
    margin: 0 auto;
}
body{
    background: #fafafa;
}
.list {
    float: left;
    min-width: 200px;
    background: #fff;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
    border: solid 1px #EFEFEF
}
li{
    list-style: none;
}
.no-results{
    font-size: 11px;
    text-align: center;
    margin: 20px;
    text-transform:uppercase;
}
li.property {
    width: 150px;
    overflow: hidden;
    display: block;
    height: 150px;
    margin: 20px;
    border-radius: 20px;
    background: #fafafa;
    text-align: center;
    position: relative;
}

h2 {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    color: #B6BCC3;;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.price {
    position: absolute;
    top: 80px;
    left: 0px;
    background: rgba(255, 255, 255, 0.84);
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 8px;
    border-radius: 0 20px 0 0;
}

li.property  img {
    max-width: 100%;
}

li:hover .btn {
    opacity: 1;
    box-shadow: 0 8px 9px rgba(0, 0, 0, 0.2);
}

a.btn {
    transition: all 0.2s;
    color: #fff;
    font-size: 13px;
    background: #333;
    padding: 5px 10px;
    border-radius: 100px;
    text-decoration: none;
    position: absolute;
    height: 21px;
    width: 60px;
    bottom: 18px;
    line-height: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.results .btn {
    background: #51C538;
}

.saved .btn {
    background: #C53838;
}

.animate-repeat {
    line-height: 30px;
    list-style: none;
    box-sizing: border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition: all linear 0.2s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity: 0;
    max-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 200px;
}
